
#contato {
    background-color:	#eee678;
    
}

.margin {
    padding-top: 30px;
    padding-bottom: 50px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#espaco {
    background-color: #eee678;
}

.carrosel{
    margin-top: 5px;
}

.aumentar img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

.navbar {
    height: 100px;
}

#footer {
    background-color: white;
    color: #808080;
}

.carousel-edit {
   align-content:stretch ;
}

.container {
    background-color:	#eee678;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
