:root {
    --green: #27963C;
    --blue: #154161;
    --lightgreen: #80CC28;
    --textwhite: #F2F2F2;
    --text: #1B1919;
    --lightblue: #94AAC5;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: var(--textwhite);
  }

li {
    list-style: none;
  }

a {
  text-decoration: none;
  color: var(--text);
 }

 span {
  color: var(--green);
 }

 /* NAV */ 

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-left: 7rem;
}

.green {
  color: var(--green);
}

.social-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 6rem;
}

.nav-links a:hover{
  color: var(--green);
}


 /* HEADER */ 

 header {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 8rem;
 }

 .header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  color: var(--blue);
  width: 30%;
  letter-spacing: 2px;
 }

 .header-info h1 {
  font-size: 42px;
 }

 .header-info p {
  margin-bottom: -7px;
 }

 .header-btn-div {
  display: flex;
  gap: 1rem;
  height: 35px;
 }

 button {
  font-size: 10px;
  font-weight: 700;
 }

 #visite {
  color: var(--textwhite);
  background-color: var(--green);
  border: none;
  cursor: pointer;
 }

 #marcar {
  color: var(--blue);
  border: 1px solid var(--blue);
  cursor: pointer;
 }

 header img {
  width: 16rem;
  margin-right: 10rem
 }

  /* services */ 

  .services {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textwhite);
    text-align: center;
  }

  .services h1 {
    width: 20%;
    line-height: 35px;
    margin-top: 3rem;
  }

  .img-services ul{
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }

  .img-services img {
    width: 80px;
  }

  .img-services h2 {
    font-size: 13px;
    color: var(--lightgreen);
  }

  .img-services p {
    font-size: 12px;
    width: 11rem;
    margin-bottom: 3rem;
  }

    /* about */ 

    .about {
      margin-top: 2.5rem;
      display: flex;
      gap: 7rem;
      justify-content: center;
      align-items: center;
      margin-left: 10rem;
    }

    .about-us h1{
      width: 250px;
    }

    .about-us p{
      width: 20rem;
      color: var(--text);
      font-size: 14px;
      line-height: 1.4rem;
    }

    .about2 {
      margin-top: 2.5rem;
      display: flex;
      gap: 7rem;
      justify-content: center;
      align-items: center;
    }

    .about-us2 h1{
      width: 250px;
    }
    .about-us2 p{
      width: 20rem;
      color: var(--text);
      font-size: 14px;
      line-height: 1.4rem;
    }

      /* offer */ 

      .offer {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
      }

      .about-offer {
        background-color: var(--blue);
        color: var(--textwhite);
        padding: 3rem;
      }

      .about-offer img {
        margin-left: 10rem;
        width: 50px;
      }

      .about-offer h1{
        width: 40%;
        margin-left: 10rem;
        font-size: 36px;
      }

      .about-offer p{
        width: 58%;
        margin-left: 10rem;
        font-size: 15px;
      }

      .about-offer button{
        margin-top: 3rem;
        margin-left: 10rem;

        width: 100px;
        height: 40px;
        color: var(--textwhite);
        background-color: var(--blue);
        border: 1px solid var(--textwhite);
        cursor: pointer;
      }

 /* FEEDBACK */
 
 .feedback {
  margin-top: 3rem;
  margin-bottom: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6rem;
 }

 .feedback h1{
  width: 20rem;
  text-align: center;
  line-height: 2rem;
 }

 .feedback ul{
  display: flex;
  justify-content: center;
  width: 53rem;
  gap: 2rem;
 }
 
 /* FOOTER */

 footer {
  background-color: var(--blue);
  color: var(--textwhite);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10px;
 }

 footer img {
 margin-top: -6rem;
 margin-bottom: -6rem;
 width: min-content;
 }

 .footer-info {
  margin-bottom: 2.5rem;
 }

 .footer-info button {
  background-color: var(--green);
  color: var(--textwhite);
  border: none;
  width: 120px;
  height: 30px;
  cursor: pointer;
 }

 .footer-info h1 {
  font-size: 15px ;
 }

 .footer-info p {
  font-size: 12px ;
 }

 .footer-info ul{
  display: flex;
  justify-content: center;
  gap: 5rem;
 }

 .footer-info span {
  font-size: 10px;
 }

 .footer a{
  color: var(--lightgreen);
 }
