.container ul  {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.container ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  align-items: center;
}

.container span {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #27963C;
  font-weight: 700;
}

.container ul li p {
  width: 12rem;
  color: #F2F2F2;
}
